<h1>Listing items</h1>

<table>
  <tr>
    <th>UPC</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Employee Id</th>
    <th>Photo Uri</th>
    <th>Signature Uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.upc %></td>
    <td><%= item.productName %></td>
    <td><%= item.quantity %></td>
    <td><%= item.employeeId %></td>
    <td><%= item.photoUri %></td>
    <td><%= item.signatureUri %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_inventory_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_inventory_item_path %>
