<p id="notice"><%= notice %></p>

<p>
  <b>UPC:</b>
  <%= @item.upc %>
</p>

<p>
  <b>Product name:</b>
  <%= @item.productName %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>

<p>
  <b>Employee ID:</b>
  <%= @item.employeeId %>
</p>

<p>
  <b>Photo URI:</b>
  <%= @item.photoUri %>
</p>

<p>
  <b>Signature URI:</b>
  <%= @item.signatureUri %>
</p>


<%= link_to 'Edit', edit_inventory_item_path(@item) %> |
<%= link_to 'Back', inventory_items_path %>
